<h1>Stupid Coaching</h1>
<div class="question">
  <h2><%= @question %></h2>
  <h2 class="tag">-You</h2>
</div>
<div class="answer">
  <h2><%= @answer %></h2>
  <h2 class="tag">-Your coach</h2>
</div>
<h3><%= link_to "Ask a new question", ask_path%></h3>
