<h1>Stupid Coaching</h1>
<h2 class="intro">Ask your coach anything:</h2>


<div class="askForm">
  <form action="/answer" method="get" data-turbo="false">
    <input type="text" class="box" name="question">
    <input type="submit" class="button" value="Ask">
  </form>
</div>
